
.wrapper{
    overflow: hidden;
}
.title{
    font-size: 1.3rem;
    margin: .5rem 0;
    display: grid;
    grid-template-columns: 1fr 30px;
    h2{
        text-align: center;
    }
}

.delete{
    float: right;
    &:hover{
        color: red !important;
    }
}

.listWrapper{
    padding: .5rem;
    height: 100%;
    overflow: auto;
}
.list {
    display: grid;
    row-gap: .5rem;
}