.wrapper{
    padding: 1rem;
    background-color: rgb(49, 49, 49);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.row{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}
.row>input{
    background-color: #111;
    padding: .2rem;
    color: white;
}
.row:first-child{
}
.row:nth-child(2n){
}