.wrapper{
    position     : fixed;
    z-index      : 9999;
    left         : 20px;
    width        : 473px;
    bottom       : 20px;
    border-radius: 4px;
    display      : flex;
    align-items  : center;
    gap          : 1rem;
    color        : white;
    padding      : 6px 16px;
    @keyframes fadeIn {
        0% {
            opacity: 0;
            bottom: 100px;
        }
        100% {
            opacity: 1;
            bottom: 20;
        }
    }

    animation-duration         : 1s;
    animation-fill-mode        : both;
    animation-name             : fadeIn;

}

@media screen and (max-width: 500px) {

    .wrapper{

        bottom: calc(66px + 10px);
    }

}