.item {
    cursor: pointer;
    border-radius: 5px;
    height: max-content;
    width: 98%;
    overflow: hidden;

    display: grid;
    grid-template-columns: 35px 5px 1fr;
    color: white;
}

.item:hover {
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    padding: .4rem;
}

