.item {
    cursor: pointer;
    border-radius: 5px;
    height: max-content;
    width: 98%;
    overflow: hidden;

    display: grid;
    grid-template-columns: 35px 5px 1fr 80px;
    background-color: black;
    color: white;
}

.item:hover {
    background-color: rgb(19, 19, 19);
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    padding: .4rem;
    overflow: hidden;
}
.url{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.time{
    display: flex;
    justify-content: center;
    align-items: center;
}

