.responseViewer {
    overflow: hidden;
}

.dataWrapper {
    position: relative;
    width: 100%;
    height: calc(100% - 33px);
    overflow: auto;
}

.data {
    position: absolute;
    top: 0;
    left: 0;
    padding: .2rem 0;
}

