
.page{
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    overflow: hidden;
    display: grid;
    grid-template-areas: 
        "editor history"
        "viewer history"
    ;
    grid-template-columns: 1fr 30%;
    grid-template-rows: min-content 1fr;

    overflow: hidden;
    gap:1rem;

    background-color: #111;
}

.common{
    background-color: rgb(29, 29, 29);
    border-radius: 5px;
    color: white;
}

.requestEditor {
    @extend .common;
    grid-area: editor;
}
.requestHistory{
    @extend .common;
    grid-area: history;
}
.responseViewer{
    @extend .common;
    grid-area: viewer;
}


@media (max-width: 850px) {
    .page{
        height: 120vh;
        grid-template-areas: 
        "editor"
        "viewer"
        "history";
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr 300px;
    }
    
}